---
import Layout from "../layouts/Layout.astro";

const {
	geo: { city },
	ip: { ipaddress },
} = Astro.locals.netlify.context;
---

<Layout>
	<h1>Merhaba!</h1>
	<p>Şu an <strong>{city}</strong> şehrinde bulunuyorsunuz.</p>
	<p>IP adresiniz: <strong>{ipaddress}</strong></p>
</Layout>
